![alt text](https://www.ipsos.com/sites/default/files/2018-10/logo-IpsosMORI.png "Logo Text Ipsos")

# Collection Types

## Tuples

Tuples are ordered, unchangable collections

In [19]:
t = (1,2,3)

In [20]:
# how to access a tupple
t[0]

1

In [21]:
# replace a tuple item value
t[0]=1

TypeError: 'tuple' object does not support item assignment

## Lists

<Remember!!!> A list contains items separated by commas and enclosed within square brackets ([]).
Lists are ordered, *changeable* collections

In [22]:
l = [1,2,3,4,5,6,7,8]

In [23]:
# last item
l[-1]

8

In [24]:
# replace and remove values
l[0]=4

In [26]:
l

[4, 2, 3, 4, 5, 6, 7, 8]

In [28]:
l.remove(4)

In [30]:
l

[2, 3, 5, 6, 7, 8]

In [32]:
del(l[2])

In [33]:
l

[2, 3, 7, 8]

In [34]:
# pop
while len(l)>0:
    print(l.pop())

8
7
3
2

In [35]:
l

[]

In [36]:
vowels = ['e', 'a', 'u', 'o', 'i']

In [37]:
# sort
vowels.sort()

In [38]:
vowels

['a', 'e', 'i', 'o', 'u']

In [39]:
vowels.reverse()
vowels

['u', 'o', 'i', 'e', 'a']

In [40]:
names=['Roshni','Alice', 'Robert','Neil','Svetlana','Beverley','Anne','Pete','Julian','Vanessa','Manjula',
       'Claire','Rosi','Alessandro', 'John','Leah','Richard','Michal','Matt']

In [41]:
# names that end in a vowel. 
answer = []
# Iterating over the list
for item in names :
    if item[-1] in vowels:
        answer.append(item)
print (answer)

['Roshni', 'Alice', 'Svetlana', 'Anne', 'Pete', 'Vanessa', 'Manjula', 'Claire', 'Rosi', 'Alessandro']

In [11]:
# List comprehensions

In [42]:
[item for item in names if item[-1] in vowels]

['Roshni',
 'Alice',
 'Svetlana',
 'Anne',
 'Pete',
 'Vanessa',
 'Manjula',
 'Claire',
 'Rosi',
 'Alessandro']

## Strings

In [3]:
sentence = 'Hello world'

### Concatenation

In [2]:
str1 = "Hello"
str2 = "World"
str1 + str2

'HelloWorld'

In [44]:
sentence = sentence + ', I am a string.'

In [45]:
print (sentence)

Hello world, I am a string.

In [46]:
# upper
print(sentence.upper())

HELLO WORLD, I AM A STRING.

In [47]:
# split
for word in sentence.split():
    print (word)

Hello
world,
I
am
a
string.

In [48]:
# join
print( ' and '.join(names))

Roshni and Alice and Robert and Neil and Svetlana and Beverley and Anne and Pete and Julian and Vanessa and Manjula and Claire and Rosi and Alessandro and John and Leah and Richard and Michal and Matt

In [49]:
# replace
print (sentence.replace('world','Ipsos'))

Hello Ipsos, I am a string.

In [ ]:
# input from keyword.

In [50]:
name=raw_input("What is your name? ")

What is your name? Pete

In [51]:
print(name)

Pete

## Sets

Sets are unordered, changeable collections, with no duplication

In [52]:
# set of letters on sentece 
for item in set(sentence):
    print item

a

e
d
g
I
H
m
l
o
,
i
s
r
t
w
.
n

In [53]:
s = {1,2,3,1,4,1,5,2,6}

In [54]:
print(s)

set([1, 2, 3, 4, 5, 6])

In [55]:
s[0]

TypeError: 'set' object does not support indexing

## Dictionaries

Dictionaries are indexed sets of key, value pairs

In [57]:
d = {'aardvark':'kind of like an anteater','abacus':'calculator for the elderly','abracadabra':'hey presto'}

In [59]:
# how to access an item
d[0]

KeyError: 0

In [62]:
d['abracadabra']

'alacazam'

In [61]:
d['abracadabra'] = 'alacazam'

In [63]:
# replace a value
d['baa'] = 'hello for sheep'

In [66]:
d['c'] ='new'

In [ ]:
# add new item

In [67]:
d['alacazam']

KeyError: 'alacazam'

In [ ]:
# iterating over dictionaries using for loops

In [70]:
for word in d.values():
    print (word)

kind of like an anteater
calculator for the elderly
alacazam
new
hello for sheep

In [71]:
for (key,value) in d.items():
    print (key + " means " + value)

aardvark means kind of like an anteater
abacus means calculator for the elderly
abracadabra means alacazam
c means new
baa means hello for sheep

# Functions

Functions are reusable blocks of code, that (usually) take inputs and give outputs

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

In [73]:
# example
def doubler (x) :
    return 2*x

In [76]:
doubler('x')

'xx'

In [77]:
def example_function (a,b) :
    factor = a/float(b)
    if a>b :
        print ('the first value is ' + str(factor) + ' times larger than the second' )
    else :
        print ('the first value is ' + str(1/factor) + ' times smaller than the second' )
    return factor

In [78]:
example_function(5,50)

the first value is 10.0 times smaller than the second

0.1

### Function Arguments
#### You can call a function by using the following types of formal arguments âˆ’

- Required arguments
- Keyword arguments
- Default arguments

In [83]:
# Required arguments
def printme(str='Hello'):
    print(str)
# str is required
printme()

Hello

In [85]:
# Default arguments
def print_info(name,age=35):
    print name
    print age
print_info('Mike')

Mike
35

In [86]:
print_info('Paul',22)

Paul
22

# Weird or Not Weird
Given a list, perform the following conditional actions:

Actions
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Print Weird if the number is weird: otherwise, print Not Weird.

numbers=[42, 52, 5, 93, 4, 23, 13, 6, 69, 85, 16, 1, 39, 96, 47, 9, 45, 72]

In [87]:
def weird_not_weird (n) :
    if n%2 == 0 :
        if 2<=n<=5 or n>20 :
            print (str(n) + ' is not weird')
    else :
        print (str(n) + ' is weird')

In [88]:
numbers=[42, 52, 5, 93, 4, 23, 13, 6, 69, 85, 16, 1, 39, 96, 47, 9, 45, 72]
for num in numbers:
    weird_not_weird(num)

42 is not weird
52 is not weird
5 is weird
93 is weird
4 is not weird
23 is weird
13 is weird
69 is weird
85 is weird
1 is weird
39 is weird
96 is not weird
47 is weird
9 is weird
45 is weird
72 is not weird