![alt text](https://www.ipsos.com/sites/default/files/2018-10/logo-IpsosMORI.png "Logo Text Ipsos")

# Collection Types

## Tuples

Tuples are ordered, unchangable collections

In [ ]:
t = (1,2,3)

In [ ]:
t[1]

In [ ]:
t[0]=3

## Lists

Lists are ordered, *changeable* collections

In [ ]:
l = [1,2,3,4,5,6,7,8]

In [ ]:
l[-1]

In [ ]:
l[0] = 4
print (l)

In [ ]:
l.remove(4)
print (l)

In [ ]:
del (l[2])
print (l)

In [ ]:
while len(l)>0 :
    print (l.pop())
print l

In [ ]:
vowels = ['e', 'a', 'u', 'o', 'i']

In [ ]:
vowels.sort()
print (vowels)

In [ ]:
vowels.reverse()
print (vowels)

In [ ]:
vowels.sort(reverse=True)
vowels

In [ ]:
names=['Roshni','Alice', 'Robert','Neil','Svetlana','Beverley','Pete','Julian','Vanessa','Manjula',
       'Claire','Rosi','Alessandro', 'John','Leah','Richard','Michal','Matt']

In [ ]:
answer = []
for item in names :
    if item[-1] in vowels:
        answer.append(item)
print (answer)

In [ ]:
[item for item in names if item[-1] in vowels]

## strings

In [ ]:
sentence = 'Hello world'

In [ ]:
sentence = sentence + ', I am a string.'
print (sentence)

In [ ]:
print (sentence.upper())

In [ ]:
for word in sentence.split():
    print (word)

In [ ]:
print ' and '.join(names)

In [ ]:
print (sentence.replace('world','Ipsos'))

In [ ]:
'string'  in sentence

In [ ]:
name=raw_input("What is your name? ")

In [ ]:
name

## Sets

Sets are unordered, changeable collections, with no duplication

In [ ]:
for item in set(sentence):
    print item

In [ ]:
s = {1,2,3,1,4,1,5,2,6}

In [ ]:
print (s)

In [ ]:
s[0]

## Dictionaries

Dictionaries are indexed sets of key, value pairs

In [ ]:
d = {'aardvark':'kind of like an anteater','abacus':'calculator for the elderly','abracadabra':'hey presto'}

In [ ]:
d[0]

In [ ]:
d['abracadabra']

In [ ]:
d['abracadabra'] = 'alacazam'
d['abracadabra']

In [ ]:
d['baa'] = 'hello for sheep'

In [ ]:
d['alacazam']

In [ ]:
for word in d:
    print (word)

In [ ]:
for definition in d.values():
    print definition

In [ ]:
for (key,value) in d.items():
    print (key + " means " + value)

# Functions

Functions are reusable blocks of code, that (usually) take inputs and give outputs

In [ ]:
def doubler (x) :
    return 2*x

In [ ]:
doubler(2)

In [ ]:
def example_function (a,b) :
    factor = a/float(b)
    if a>b :
        print ('the first value is ' + str(factor) + ' times larger than the second' )
    else :
        print ('the first value is ' + str(1/factor) + ' times smaller than the second' )
    return factor

In [ ]:
example_function(5,50)

### Function Arguments
#### You can call a function by using the following types of formal arguments âˆ’

- Required arguments
- Keyword arguments
- Default arguments

In [ ]:
def printme(str):
    pass
# str is required
printme()
#keyword
printme(str='Hello')

def print_info(name,age=35):
    pass
print_info('Mike')

# Weird or Not Weird
Given a list, perform the following conditional actions:

Actions
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Print Weird if the number is weird: otherwise, print Not Weird.

numbers=[42, 52, 5, 93, 4, 23, 13, 6, 69, 85, 16, 1, 39, 96, 47, 9, 45, 72]

In [ ]:
def weird_not_weird (n) :
    if n%2 == 0 :
        if 2<=n<=5 or n>20 :
            print (str(n) + ' is not weird')
    else :
        print (str(n) + ' is weird')

In [ ]:
numbers=[42, 52, 5, 93, 4, 23, 13, 6, 69, 85, 16, 1, 39, 96, 47, 9, 45, 72]
for num in numbers:
    weird_not_weird(num)