![alt text](https://www.ipsos.com/sites/default/files/2018-10/logo-IpsosMORI.png "Logo Text Ipsos")

## Introduction to Python

In this lesson we will be doing a quick overview of Python. 
[You can find some references on this link](https://docs.python.org/2/tutorial/)

#### Sections:
* Variables
* Operators
* Statements
* Interations/Loops
* Practice

### Jupyter Notebook
You can see a small overview [here](https://jupyter.readthedocs.io/en/latest/running.html)

## Variables and assignments

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

In [7]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print counter
print miles
print name

100
1000.0
John

### Multiple Assignment

In [8]:
a = b = c = 1

In [9]:
a,b,c = 1,2,"john"

##### Python has five standard data types −

- Numbers
- String
- List
- Tuple
- Dictionary

### Example

The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20

In [2]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

##### Python Numbers
Number data types store numeric values. Number objects are created when you assign a value to them. For example −

In [11]:
var1 = 1450
var2 = 10

##### Python supports four different numerical types −

- int (signed integers)
- long (long integers, they can also be represented in octal and hexadecimal)
- float (floating point real values)
- complex (complex numbers)

#### Python Strings
Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [13]:
myString = "Hello Ipsos Mori!"

print myString          # Prints complete string
print myString[0]       # Prints first character of the string
print myString[2:5]     # Prints characters starting from 3rd to 5th
print myString[2:]      # Prints string starting from 3rd character
print myString * 2      # Prints string two times
print myString + "TEST" # Prints concatenated string

Hello Ipsos Mori!
H
llo
llo Ipsos Mori!
Hello Ipsos Mori!Hello Ipsos Mori!
Hello Ipsos Mori!TEST

#### Python Lists
A list contains items separated by commas and enclosed within square brackets ([]).

In [60]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3
1
2
3

In [63]:
mylist.append(4)

#### Exercise
In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1

In [ ]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

#### Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists. For example −

In [15]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print tuple           # Prints complete list
print tuple[0]        # Prints first element of the list
print tuple[1:3]      # Prints elements starting from 2nd till 3rd 
print tuple[2:]       # Prints elements starting from 3rd element
print tinytuple * 2   # Prints list two times
print tuple + tinytuple # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

#### Python Dictionary
A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]). For example −

In [17]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print dict['one']       # Prints value for 'one' key
print dict[2]           # Prints value for 2 key
print tinydict          # Prints complete dictionary
print tinydict.keys()   # Prints all the keys
print tinydict.values() # Prints all the values

This is one
This is two
{'dept': 'sales', 'code': 6734, 'name': 'john'}
['dept', 'code', 'name']
['sales', 6734, 'john']

### Data Type Conversion

In [24]:
myString = '5'
type(int(myString))

int

In [25]:
myString = '50003'
type(long(myString))

long

In [28]:
str(12)

'12'

#### Let's see an example

In [29]:
price_cake = 15
price_cookie = 6
total = price_cake + price_cookie
print("The total is: " + str(total)  + "$")

The total is: 21$

###### More about data type conversion [Here](https://www.datacamp.com/community/tutorials/python-data-type-conversion)

## Basic Operators
#### Type of Operator
- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

Assume variable a holds 10 and variable b holds 20, then −

In [46]:
a=10; b=20

#### Arithmetic Operators

In [45]:
a + b # = 30  --> Adds
a - b # = -10 --> Subtracts
a * b # = 200 --> Multiplies
b / a # = 2   --> Divides
b % a # = 0   --> Modulus
a**b  # = 10to the power20 --> Exponent
9//2  # = 4   --> floor division

4

### Comparison Operators

In [54]:
(a == b) # is not true. --> equal operator
(a != b) # is true.     --> not equal operator
(a <> b) # is true.     --> not equal operator
(a > b)  # is not true. --> greater than operator
(a < b)  # is true.     --> less than operator
(a >= b) # is not true. --> greater than or equal operator
(a <= b) # is true. --> less than or equal operator

True

### Assignment Operators
Assigns values from right side operands to left side operand

In [53]:
c = a + b # assigns value of a + b into c
c += a    # Add AND       equivalent to c = c + a
c -= b    # Subtracs AND  equivalent to c = c - a
c *= a    # Multiply AND  equivalent to c = c * a
c /= a    # Divide AND  equivalent to c = c / a
c %= a    # Modulus AND  equivalent to c = c % a
c **= a    # Exponent AND  equivalent to c = c ** a
c //= a    # Floor AND  equivalent to c = c // a

### Logical Operators

In [2]:
a=True
b=True

and Logical AND	If both the operands are true then condition becomes true.	(a and b) is true.

In [3]:
(a and b)

True

or Logical OR	If any of the two operands are non-zero then condition becomes true.	(a or b) is true.

In [4]:
(a or b)

True

not Logical NOT	Used to reverse the logical state of its operand.	Not(a and b) is false.

In [6]:
not(a and b)

False

### Logical Operators

test for membership in a sequence

In [9]:
# in --> the result is true if b is a member of sequence a
a = "hello World"
b = 'W'
b in a

True

In [10]:
# not in --> the result is true if b is not a member of sequence a
b not in a

False

# if,elif,else Statements

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.
Let's go ahead and look at the syntax format for if statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action 3

### Indentation

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

In [12]:
if True:
    print('It was true!')

It was true!

Let's add in some else logic:

In [13]:
x = False
if x:
    print 'x was True!'
else:
    print 'I will be printed in any case where x is not true'

I will be printed in any case where x is not true

### Multiple Branches

#### References
- [Tutorials Point](https://www.tutorialspoint.com)
- [Learn to Code for Data Analysis](https://www.futurelearn.com/courses/learn-to-code)
- [Learn Python](https://www.learnpython.org/)